<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-5 border-0 rounded-10">
        <h2 class="text-center mb-5 text-primary">Calculate House Price</h2>
        <!-- Whole Form -->
        <form action="/predict" method="POST" class="row row-cols-1 row-cols-md-4 g-5 justify-content-center">
            {% for input in inputs %}
            <div class="col position-relative">
                <!-- label -->
                <label class="form-label fw-semibold d-block text-center">
                    {{ input.name }}
                </label>
                <!-- input fields logic -->
                {% if input.type == "numeric" %}
                <input  type="number" name="{{ input.name }}" placeholder="{{ input.description }}"
                       class="form-control border-primary" data-description="{{ input.description }}" required>
                {% elif input.type == "select" %}
                <select name="{{ input.name }}" class="form-control border-primary"
                        data-description="{{ input.description }}">
                    {% for value, name in input.options.items() %}
                    <option value="{{ value }}">{{ name }}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <!-- description span -->
                <span class="description">{{ input.description }}</span>
            </div>
            {% endfor %}

            <div class="col-12 text-center mt-4">
                <!-- submit button -->
                <button type="submit" class="btn btn-success btn-lg w-50">Submit</button>
            </div>
            <div class="card text-center border-0">
                <label>Prediction:</label>
                {% if prediction %}
            <p>${{ '{:,.2f}'.format(prediction) }}</p>
        {% else %}
            <p></p>
                {% endif %}</div>
        </form>
    </div>
</div>
{% endblock %}
