<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<form action="" method="POST" class="form-control">
    {% for input in inputs %}
    <label>
        {{ input.name }}
        {% if input.type == "numeric" %}
        <input type="number" name="{{ input.name }}" placeholder="{{ input.description }}" class="form-control">
        {% elif input.type == "select"%}
        <select name="{{ input.name }}" class="form-control">
            {% for value, name in input.options.items() %}
            <option value="{{ value }}">{{ name }}</option>
            {% endfor %}
        </select>
        {% endif %}
    </label>

    {% endfor %}

    <button class="btn btn-success btn-lg">Submit</button>
</form>

{% endblock %}
